.App {
  display: flex;
  background-color: #c1c2d9;
}

.cart-list {
  flex: 3;
  padding: 20px;
}

.total {
  flex: 1;
  padding: 20px;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
}

.cart-item img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}
