/* App.css */
.App {
  display: flex;
}

.cart-list {
  flex: 3;
  padding: 20px;
}

.total {
  flex: 1;
  padding: 20px;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
